src/assets/flows/a7b2842e-7cba-4201-a595-75bd6b650e90.json
[
  {
    "id": "d4ec89ff.2cfac8",
    "type": "flowboard",
    "label": "Flowboard 1",
    "disabled": false,
    "location": {
      "x": 40,
      "y": 40
    },
    "width": 400,
    "height": 400
  },
  {
    "id": "61c3640b.247c6c",
    "outputs": 1,
    "type": "template",
    "x": 420,
    "y": 80,
    "z": "d4ec89ff.2cfac8",
    "wires": [["8f33f3be.8ef7", "d2869d44.c2b39"]],
    "outputSuccess": false,
    "outputError": false,
    "addToPrint": "true",
    "format": "str",
    "output": "str",
    "template": "\n<p>TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT</p>\n<p>TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT</p>\n\n<lw-tabs >\n\t\t\t<lw-tab-item label=\"<i class='material-icons'>phone</i>\">Calls</lw-tab-item>\n\t\t\t<lw-tab-item label=\"<i class='material-icons'>favorite</i>\">Favorites</lw-tab-item>\n\t\t\t<lw-tab-item label=\"<i class='material-icons'>perm_contact_calendar</i>\">Contacts</lw-tab-item>\n\t\t</lw-tabs>\n\n\n<p>TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT</p>\n<p>PALETTE</p>\n\n\t<div>Default app bar and fixed tab bar with icons</div>\n<lw-tree        filterable\n              filter-input-placeholder=\"Filter query...\"\n              filter-mode=\"containsIgnoreCase\"\nid=\"tree\">\n  \n   {{#each payload}}\n        <lw-tree-items-group expanded> {{name}}\n          {{#each  Luwfyblock}}\n            <lw-tree-item event-target-id=\"lw-palette-tree\"> <i class=\"material-icons\">&#xEB41;</i> {{name}}</lw-tree-item>\n            {{/each}}\n        </lw-tree-items-group>\n          {{/each}}\n        \n    </lw-tree>\n\n<p>TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT</p>\n <p> DEBUG </p>\n \n <lw-tree\n    show-lines\n              show-root-lines>\n \n \n<lw-tree-item>Home</lw-tree-item>\n<lw-tree-items-group>\n    Solutions\n    <lw-tree-item>\n \n Education \n \n     <lw-button id=\"usageTooltipNormalBtn\">\n <span class=\"material-icons\">\ncontent_copy\n</span>\n \n\n \n </lw-tree-item>  \n    <lw-tree-item>Financial services </lw-tree-item>\n    <lw-tree-item>Government</lw-tree-item>\n    <lw-tree-item>Manufacturing</lw-tree-item>\n    <lw-tree-items-group>\n        Solutions\n        <lw-tree-item>Consumer photo and video</lw-tree-item>\n        <lw-tree-item>Mobile</lw-tree-item>\n        <lw-tree-item>Rich Internet applications</lw-tree-item>\n        <lw-tree-item>Technical communication</lw-tree-item>\n        <lw-tree-item>Training and eLearning</lw-tree-item>\n        <lw-tree-item>Web conferencing</lw-tree-item>\n    </lw-tree-items-group>\n    <lw-tree-item>All industries and solutions</lw-tree-item>\n</lw-tree-items-group>\n</lw-tree>\n \n<mwc-button outlined label=\"outlined\"></mwc-button>\n<mwc-button outlined label=\"outlined\" icon=\"code\"></mwc-button>\n<div style=\"position: relative;\">\n  <mwc-button id=\"button\" raised label=\"Open Menu\"></mwc-button>\n  <mwc-menu id=\"menu\">\n    <mwc-list-item>Item 0</mwc-list-item>\n    <mwc-list-item>Item 1</mwc-list-item>\n    <mwc-list-item>Item 2</mwc-list-item>\n    <mwc-list-item>Item 3</mwc-list-item>\n  </mwc-menu>\n</div>\n\n<script>\n \n var a = \"{{headers.content-type}}\";\n\n \n\n \n var categories =  {{#each categories}}\n  <p> {{this}} </p>\n{{/each}}\n \n\n \n   console.log(\"FIRST\", categories);\nconsole.log(\"FIRST 2\",window);\n      //tod add categories      \n      </script>\n<script>\n      \n  // anchor must share a parent with menu that is `position: relative`\n  menu.anchor = button;\n  button.addEventListener('click', function (e) {\n    menu.open = true;\n    // alternatively you can use menu.show();\n  });\n</script>\n\n<mwc-list>\n  <mwc-list-item graphic=\"avatar\" select=\"testFunc()\" >\n    <span>Avatar graphic</span>\n    <mwc-icon slot=\"graphic\">folder</mwc-icon>\n  </mwc-list-item>\n  <mwc-list-item graphic=\"icon\">\n    <span>Icon graphic</span>\n    <mwc-icon slot=\"graphic\">folder</mwc-icon>\n  </mwc-list-item>\n  <mwc-list-item graphic=\"medium\">\n    <span>medium graphic</span>\n    <mwc-icon slot=\"graphic\">folder</mwc-icon>\n  </mwc-list-item>\n  <mwc-list-item graphic=\"large\">\n    <span>large graphic</span>\n    <mwc-icon slot=\"graphic\">folder</mwc-icon>\n  </mwc-list-item>\n</mwc-list>",
    "order": "2"
  },
  {
    "id": "21e409ec.51c286",
    "outputs": 0,
    "type": "view print",
    "x": 1060,
    "y": 80,
    "z": "d4ec89ff.2cfac8",
    "wires": [],
    "outputSuccess": false,
    "outputError": false,
    "configAddEvent": [
      {
        "key": "lw-tree-item",
        "event": ["click"]
      }
    ]
  },
  {
    "id": "3d577254.b3c3ae",
    "outputs": 1,
    "type": "view in",
    "x": 40,
    "y": 80,
    "z": "d4ec89ff.2cfac8",
    "wires": [["58a0078f.08fa28"]],
    "outputSuccess": false,
    "outputError": false,
    "url": "/main"
  },
  {
    "id": "8f33f3be.8ef7",
    "wires": [["21e409ec.51c286"]],
    "outputs": 1,
    "type": "component",
    "x": 840,
    "y": 40,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false,
    "componentName": "gojsComponent",
    "order": "3"
  },
  {
    "id": "58a0078f.08fa28",
    "wires": [["2ef2c8f.6a51438", "61c3640b.247c6c"]],
    "outputs": 1,
    "type": "http request",
    "x": 240,
    "y": 220,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false,
    "auth": false,
    "proxy": false,
    "method": "GET",
    "secure": false,
    "urlType": "string",
    "keepalive": false,
    "querystring": false,
    "url": "https://sandboxcrm.luwfy.com/luwfy-flow/blocks",
    "output": "payload",
    "outputType": "msg",
    "return": "Parsed JSON object"
  },
  {
    "id": "d2869d44.c2b39",
    "wires": [],
    "outputs": 0,
    "type": "debug",
    "x": 960,
    "y": 300,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false,
    "active": true,
    "payloadType": "complete object"
  },
  {
    "id": "a5166070.eaa77",
    "wires": [],
    "outputs": 0,
    "type": "view print",
    "x": 840,
    "y": 460,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false,
    "configAddEvent": [
      {
        "key": "mwc-button",
        "event": ["click"]
      }
    ]
  },
  {
    "id": "4112d6ad.84dd68",
    "wires": [["2bf4432c.b38fac"]],
    "outputs": 1,
    "type": "view in",
    "x": 120,
    "y": 600,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false,
    "url": "/testsubscribe"
  },
  {
    "id": "2bf4432c.b38fac",
    "wires": [["a5166070.eaa77"], []],
    "outputs": 2,
    "type": "template",
    "x": 460,
    "y": 540,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": true,
    "addToPrint": "true",
    "order": "1",
    "format": "str",
    "output": "str",
    "template": "<mwc-button outlined id=\"myButton\" label=\"outlined\"></mwc-button><div>I succeed@@@@</div>"
  },
  {
    "id": "f8411f29.bb9fd",
    "wires": [["560eeeb.73dcc1"], [], []],
    "outputs": 3,
    "type": "rx subscriber",
    "x": 433,
    "y": 661,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false,
    "useWindow": true,
    "event": "Luwfy.dom['myButton'].events['click']",
    "auto_subscribe": false,
    "bundle": false
  },
  {
    "id": "560eeeb.73dcc1",
    "wires": [],
    "outputs": 0,
    "type": "debug",
    "x": 747,
    "y": 672,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false,
    "active": true,
    "payloadType": "complete object"
  },
  {
    "id": "9b3aa3ae.6ccef",
    "wires": [["d2869d44.c2b39", "61c3640b.247c6c"], []],
    "outputs": 2,
    "type": "template",
    "x": 360,
    "y": 380,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": true,
    "addToPrint": "true",
    "order": "1",
    "format": "handlebars",
    "output": "str",
    "template": "   <mwc-list id=\"basic\">\n      {{#each payload.Luwfyblock}}\n      <mwc-list-item>{{name}}</mwc-list-item>\n      {{/each}}\n    </mwc-list>",
    "outputType": "msg",
    "outputProp": "payload"
  },
  {
    "id": "ba5692b5.3ac6d",
    "wires": [],
    "outputs": 0,
    "type": "debug",
    "x": 300,
    "y": 480,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false,
    "active": true
  },
  {
    "id": "7cf5ba47.3ee384",
    "wires": [["9b3aa3ae.6ccef", "ba5692b5.3ac6d"]],
    "outputs": 1,
    "type": "json",
    "x": 60,
    "y": 500,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false,
    "action": "btwn",
    "pretty": false,
    "property": "payload",
    "propertyType": "msg"
  },
  {
    "id": "2ef2c8f.6a51438",
    "wires": [],
    "outputs": 0,
    "type": "debug",
    "x": 880,
    "y": 180,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false,
    "active": true,
    "payloadType": "complete object"
  },
  {
    "id": "a1f1385d.daae78",
    "outputs": 2,
    "type": "template",
    "x": 575.9209723583176,
    "y": 1056.7941661766372,
    "z": "d4ec89ff.2cfac8",
    "wires": [["b8103092.de9f6"], []],
    "outputSuccess": false,
    "outputError": true,
    "addToPrint": "true",
    "order": "1",
    "format": "str",
    "output": "str",
    "template": "<ul id=\"nav\"><li>0000</li><li>1111</li><li>2222</li><li>3333</li></ul>"
  },
  {
    "id": "f694d338.724c5",
    "outputs": 3,
    "type": "rx subscriber",
    "x": 378.9209723583177,
    "y": 1146.7941661766372,
    "z": "d4ec89ff.2cfac8",
    "wires": [["57beff59.68b19"], [], []],
    "outputSuccess": false,
    "outputError": false,
    "useWindow": false,
    "event": "Luwfy.dom['nav'].events['click']",
    "auto_subscribe": false,
    "bundle": false
  },
  {
    "id": "b8103092.de9f6",
    "outputs": 0,
    "type": "view print",
    "x": 918.9209723583176,
    "y": 1048.7941661766372,
    "z": "d4ec89ff.2cfac8",
    "wires": [],
    "outputSuccess": false,
    "outputError": false,
    "configAddEvent": [
      {
        "key": "ul",
        "event": ["click"]
      }
    ]
  },
  {
    "id": "57beff59.68b19",
    "outputs": 0,
    "type": "debug",
    "x": 660.9209723583176,
    "y": 1173.7941661766372,
    "z": "d4ec89ff.2cfac8",
    "wires": [],
    "outputSuccess": false,
    "outputError": false,
    "active": true
  },
  {
    "id": "bb4f91b8.46b67",
    "outputs": 1,
    "type": "view in",
    "x": 180,
    "y": 1020,
    "z": "d4ec89ff.2cfac8",
    "wires": [["a1f1385d.daae78"]],
    "outputSuccess": false,
    "outputError": false,
    "url": "/listpage"
  },
  {
    "id": "11f36286.daf77d",
    "wires": [["38746dd4.7ed7f2", "5acfd0d4.2fc85"], [], []],
    "outputs": 3,
    "type": "rx subscriber",
    "x": 620,
    "y": 800,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false,
    "useWindow": true,
    "event": "Luwfy.dom['lw-palette-tree'].events['click']",
    "auto_subscribe": false,
    "bundle": false
  },
  {
    "id": "38746dd4.7ed7f2",
    "wires": [],
    "outputs": 0,
    "type": "debug",
    "x": 800,
    "y": 780,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false,
    "active": true,
    "payloadType": "complete object"
  },
  {
    "id": "5acfd0d4.2fc85",
    "wires": [["2831a62a.5e2dda"]],
    "outputs": 1,
    "type": "function",
    "x": 800,
    "y": 900,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false,
    "func": "console.log(\"FUNCTION\", msg);"
  },
  {
    "id": "2831a62a.5e2dda",
    "wires": [],
    "outputs": 0,
    "type": "debug",
    "x": 957,
    "y": 870.0360195287747,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false,
    "active": true
  }
]
