src/assets/flows/a7b2842e-7cba-4201-a595-75bd6b650e90.json
[
  {
    "id": "d4ec89ff.2cfac8",
    "type": "flowboard",
    "label": "Flowboard 1",
    "disabled": false,
    "location": {
      "x": 40,
      "y": 40
    },
    "width": 400,
    "height": 400
  },
  {
    "id": "61c3640b.247c6c",
    "outputs": 1,
    "type": "template",
    "x": 780,
    "y": 40,
    "z": "d4ec89ff.2cfac8",
    "wires": [
      [
        "9af7378e.e55f18"
      ]
    ],
    "outputSuccess": false,
    "outputError": false,
    "addToPrint": "false",
    "format": "handlebars",
    "output": "str",
    "template": "<p>PPPPPPPPPPPPPPPPP</p>\n<lw-tree id=\"lw-palette-tree\"\n        filterable\n              filter-input-placeholder=\"Filter query...\"\n              filter-mode=\"containsIgnoreCase\"\nevent-target-id=\"itemTree\"\nid=\"tree\">\n  \n   {{#each httppayload}}\n        <lw-tree-items-group expanded> {{name}}\n          {{#each  Luwfyblock}}\n            <lw-tree-item  block-id={{id}}  category-id ={{blockcategory_id}} ><i   class=\"material-icons\">&#xEB41;</i>{{name}}</lw-tree-item>\n            {{/each}}\n        </lw-tree-items-group>\n          {{/each}}\n    </lw-tree>\n   ",
    "order": "2",
    "name": "Palette ",
    "outputType": "msg",
    "outputProp": "pallet"
  },
  {
    "id": "21e409ec.51c286",
    "outputs": 0,
    "type": "view print",
    "x": 1000,
    "y": 200,
    "z": "d4ec89ff.2cfac8",
    "wires": [],
    "outputSuccess": false,
    "outputError": false,
    "configAddEvent": [
      {
        "key": "lw-tree",
        "event": [
          "change"
        ]
      }
    ]
  },
  {
    "id": "3d577254.b3c3ae",
    "outputs": 1,
    "type": "view in",
    "x": 40,
    "y": 40,
    "z": "d4ec89ff.2cfac8",
    "wires": [
      [
        "58a0078f.08fa28"
      ]
    ],
    "outputSuccess": false,
    "outputError": false,
    "url": "/main"
  },
  {
    "id": "8f33f3be.8ef7",
    "wires": [
      [
        "2a4680aa.68ca5",
        "61c3640b.247c6c"
      ]
    ],
    "outputs": 1,
    "type": "component",
    "x": 600,
    "y": 40,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false,
    "componentName": "goJsProject",
    "order": "3",
    "componentConfig": "payload"
  },
  {
    "id": "58a0078f.08fa28",
    "wires": [
      [
        "c1aca304.830b4"
      ]
    ],
    "outputs": 1,
    "type": "http request",
    "x": 60,
    "y": 180,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false,
    "auth": false,
    "proxy": false,
    "method": "GET",
    "secure": false,
    "urlType": "string",
    "keepalive": false,
    "querystring": false,
    "url": "https://sandboxcrm.luwfy.com/luwfy-flow/blocks",
    "output": "httppayload",
    "outputType": "msg",
    "return": "Parsed JSON object"
  },
  {
    "id": "d2869d44.c2b39",
    "wires": [],
    "outputs": 0,
    "type": "debug",
    "x": 480,
    "y": 540,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false,
    "active": true,
    "payloadType": "complete object"
  },
  {
    "id": "a5166070.eaa77",
    "wires": [],
    "outputs": 0,
    "type": "view print",
    "x": 720,
    "y": 580,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false,
    "configAddEvent": [
      {
        "key": "mwc-button",
        "event": [
          "click"
        ]
      }
    ]
  },
  {
    "id": "4112d6ad.84dd68",
    "wires": [
      [
        "2bf4432c.b38fac"
      ]
    ],
    "outputs": 1,
    "type": "view in",
    "x": 60,
    "y": 860,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false,
    "url": "/testsubscribe"
  },
  {
    "id": "2bf4432c.b38fac",
    "wires": [
      [
        "a5166070.eaa77"
      ],
      []
    ],
    "outputs": 2,
    "type": "template",
    "x": 480,
    "y": 640,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": true,
    "addToPrint": "true",
    "order": "1",
    "format": "str",
    "output": "str",
    "template": "<mwc-button outlined id=\"myButton\" label=\"outlined\"></mwc-button><div>I succeed@@@@</div>"
  },
  {
    "id": "f8411f29.bb9fd",
    "wires": [
      [
        "560eeeb.73dcc1"
      ],
      [],
      []
    ],
    "outputs": 3,
    "type": "rx subscriber",
    "x": 420,
    "y": 780,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false,
    "useWindow": true,
    "event": "Luwfy.dom['myButton'].events['click']",
    "auto_subscribe": false,
    "bundle": false
  },
  {
    "id": "560eeeb.73dcc1",
    "wires": [],
    "outputs": 0,
    "type": "debug",
    "x": 700,
    "y": 680,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false,
    "active": true,
    "payloadType": "complete object"
  },
  {
    "id": "9b3aa3ae.6ccef",
    "wires": [
      [
        "d2869d44.c2b39"
      ],
      []
    ],
    "outputs": 2,
    "type": "template",
    "x": 160,
    "y": 500,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": true,
    "addToPrint": "true",
    "order": "1",
    "format": "handlebars",
    "output": "str",
    "template": "   <mwc-list id=\"basic\">\n      {{#each payload.Luwfyblock}}\n      <mwc-list-item>{{name}}</mwc-list-item>\n      {{/each}}\n    </mwc-list>",
    "outputType": "msg",
    "outputProp": "payload"
  },
  {
    "id": "ba5692b5.3ac6d",
    "wires": [],
    "outputs": 0,
    "type": "debug",
    "x": 200,
    "y": 640,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false,
    "active": true
  },
  {
    "id": "7cf5ba47.3ee384",
    "wires": [
      [
        "9b3aa3ae.6ccef",
        "ba5692b5.3ac6d"
      ]
    ],
    "outputs": 1,
    "type": "json",
    "x": 20,
    "y": 700,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false,
    "action": "btwn",
    "pretty": false,
    "property": "payload",
    "propertyType": "msg"
  },
  {
    "id": "a1f1385d.daae78",
    "outputs": 2,
    "type": "template",
    "x": 575.9209723583176,
    "y": 1056.7941661766372,
    "z": "d4ec89ff.2cfac8",
    "wires": [
      [
        "b8103092.de9f6"
      ],
      []
    ],
    "outputSuccess": false,
    "outputError": true,
    "addToPrint": "true",
    "order": "1",
    "format": "str",
    "output": "str",
    "template": "<ul id=\"nav\"><li>0000</li><li>1111</li><li>2222</li><li>3333</li></ul>"
  },
  {
    "id": "f694d338.724c5",
    "outputs": 3,
    "type": "rx subscriber",
    "x": 378.9209723583177,
    "y": 1146.7941661766372,
    "z": "d4ec89ff.2cfac8",
    "wires": [
      [
        "57beff59.68b19"
      ],
      [],
      []
    ],
    "outputSuccess": false,
    "outputError": false,
    "useWindow": false,
    "event": "Luwfy.dom['nav'].events['click']",
    "auto_subscribe": false,
    "bundle": false
  },
  {
    "id": "b8103092.de9f6",
    "outputs": 0,
    "type": "view print",
    "x": 918.9209723583176,
    "y": 1048.7941661766372,
    "z": "d4ec89ff.2cfac8",
    "wires": [],
    "outputSuccess": false,
    "outputError": false,
    "configAddEvent": [
      {
        "key": "ul",
        "event": [
          "click"
        ]
      }
    ]
  },
  {
    "id": "57beff59.68b19",
    "outputs": 0,
    "type": "debug",
    "x": 660.9209723583176,
    "y": 1173.7941661766372,
    "z": "d4ec89ff.2cfac8",
    "wires": [],
    "outputSuccess": false,
    "outputError": false,
    "active": true
  },
  {
    "id": "bb4f91b8.46b67",
    "outputs": 1,
    "type": "view in",
    "x": 180,
    "y": 1020,
    "z": "d4ec89ff.2cfac8",
    "wires": [
      [
        "a1f1385d.daae78"
      ]
    ],
    "outputSuccess": false,
    "outputError": false,
    "url": "/listpage"
  },
  {
    "id": "11f36286.daf77d",
    "wires": [
      [
        "38746dd4.7ed7f2",
        "5acfd0d4.2fc85"
      ],
      [],
      []
    ],
    "outputs": 3,
    "type": "rx subscriber",
    "x": 620,
    "y": 800,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false,
    "useWindow": true,
    "event": "Luwfy.dom['itemTree'].events['change']",
    "auto_subscribe": false,
    "bundle": false,
    "customEvent": false,
    "event-target-id": "itemTree",
    "event-name": "change"
  },
  {
    "id": "38746dd4.7ed7f2",
    "wires": [],
    "outputs": 0,
    "type": "debug",
    "x": 940,
    "y": 680,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false,
    "active": true,
    "payloadType": "complete object"
  },
  {
    "id": "5acfd0d4.2fc85",
    "wires": [
      [
        "2831a62a.5e2dda"
      ]
    ],
    "outputs": 1,
    "type": "function",
    "x": 1120,
    "y": 720,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false,
    "func": "\nlet one = 0;\nlet two = 0;\n\n\ndocument.querySelector('lw-tree').clearSelection(\"\");\nconsole.log( \"BBBVVV\")\n\nif(msg && msg.detail  )\n  {\n    \n   let selectedIndexesStr  = msg.detail.selectedIndexes[0];\n    let selectedIndexesArr  =  selectedIndexesStr.split(\".\");\n\n    \n    console.log(\"TEST_FUNCTION\", +selectedIndexesArr[0] , +selectedIndexesArr[1] );\n   \n   one = +selectedIndexesArr[0];\n    two = +selectedIndexesArr[1];\n  }\n\nlet inputElem = window.blocks[one].Luwfyblock[two];\nconsole.log(\"inputElem\", inputElem);\n\nlet objDataElementFromPalette = {\n          outputs: inputElem.outputs,\n          outputSuccess: inputElem.outputSuccess,\n          outputError: inputElem.outputError,\n          input: inputElem.input,\n           color: inputElem.color || \"red\",\n  state: inputElem.state,\n          type: inputElem['name'] ,\n          name: inputElem['name'] || inputElem.type,\n          key: inputElem.id,\n          z: inputElem.z\n          // loc: \n        };\n\n\nconsole.log(\"inputElem2\", objDataElementFromPalette);\n\n\n    let payload = {\n\t  element : objDataElementFromPalette,\n      event : \"addBlockFromPalette\"\n    }\n \nmsg['payload'] = [payload.element];\n\n\n\nwindow.CANVAS.updateBlock(payload.element)\n\n    return msg;\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n"
  },
  {
    "id": "2831a62a.5e2dda",
    "wires": [],
    "outputs": 0,
    "type": "debug",
    "x": 1060,
    "y": 880,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false,
    "active": true
  },
  {
    "id": "810f7e4e.542bc",
    "wires": [
      []
    ],
    "outputs": 1,
    "type": "function",
    "x": 320,
    "y": 560,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false,
    "func": "let inputDataArr = msg['payload'];\n\n\n let linkDataArrayTemp = [];\n    let nodeDataArrayTemp = [];\n\n    inputDataArr.forEach((inputElem) => {\n      if (inputElem.type != \"flowboard\") {\n        let objDataArray = {\n          outputs: inputElem.outputs,\n          outputSuccess: inputElem.outputSuccess,\n          outputError: inputElem.outputError,\n          // input:\n          // color:\n          type: inputElem.type,\n          name: inputElem['name'] || inputElem.type,\n          key: inputElem.id,\n          z: inputElem.z\n          // loc: \n        };\n        nodeDataArrayTemp.push(objDataArray);\n      }\n\n      else {\n        let objDataFlowboard = {\n          \"key\": inputElem.id,\n          \"type\": inputElem.type,\n          \"label\": inputElem.label,\n          \"disabled\": inputElem.disabled,\n        }\n        \n        nodeDataArrayTemp.push(objDataFlowboard);\n        //TODO add flowboard to nodeDataArray\n      }\n\n      if (inputElem.wires) {\n        inputElem.wires.forEach((wirePortArr, index) => {\n          wirePortArr.forEach((wirePortItem) => {\n            let objLinkDataArr = {\n              from: inputElem.id,\n              to: wirePortItem,\n              outPortId: index + 1,\n              inPortId: \"INPUT\"\n            };\n\n            linkDataArrayTemp.push(objLinkDataArr);\n          })\n        })\n      }\n    })\n\n    let payload = {\n      \"class\": \"go.GraphLinksModel\",\n      \"nodeCategoryProperty\": \"type\",\n      \"linkFromPortIdProperty\": \"outPortId\",\n      \"linkToPortIdProperty\": \"inPortId\",\n      \"linkDataArray\": [...linkDataArrayTemp],\n      \"nodeDataArray\": [...nodeDataArrayTemp]\n    }\nmsg['payload'] = payload;\n    return msg;\n\n\n\n\n\n"
  },
  {
    "id": "7702c3da.44049c",
    "wires": [
      [
        "e9b38422.32cbc8"
      ],
      []
    ],
    "outputs": 2,
    "type": "template",
    "x": 480,
    "y": 440,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": true,
    "template": "[\n   {\n    \"id\": \"6f9eef4f.2aa0e\",\n    \"type\": \"flowboard\",\n    \"label\": \"Flowboard 1\",\n    \"disabled\": false,\n    \"location\": {\n      \"x\": 111.97368421052632,\n      \"y\": 40\n    },\n    \"width\": 400,\n    \"height\": 400\n  },\n   {\n      \"id\":\"b9f855d8.bb2a28\",\n      \"wires\":[\n         [\n            \"80855b14.ba5ce8\"\n         ]\n      ],\n      \"outputs\":1,\n      \"type\":\"view in\",\n      \"x\":88,\n      \"y\":496,\n      \"z\":\"6f9eef4f.2aa0e\",\n      \"outputSuccess\":false,\n      \"outputError\":false,\n      \"url\":\"/flowdenys\"\n   },\n   {\n      \"id\":\"80855b14.ba5ce8\",\n      \"wires\":[\n         [\n            \"43e682ff.77ceac\",\n            \"d1a95953.74aa78\"\n         ]\n      ],\n      \"outputs\":1,\n      \"type\":\"template\",\n      \"x\":281,\n      \"y\":534,\n      \"z\":\"6f9eef4f.2aa0e\",\n      \"outputSuccess\":false,\n      \"outputError\":false,\n      \"addToPrint\":\"false\",\n      \"field\":\"data\",\n      \"format\":\"handlebars\",\n      \"output\":\"json\",\n      \"template\":\"{\\n    \\\"class\\\": \\\"go.GraphLinksModel\\\",\\n    \\\"nodeCategoryProperty\\\": \\\"type\\\",\\n    \\\"linkFromPortIdProperty\\\": \\\"outPortId\\\",\\n    \\\"linkToPortIdProperty\\\": \\\"inPortId\\\",\\n    \\\"linkDataArray\\\": [{ \\\"from\\\": -1, \\\"to\\\": -6, \\\"outPortId\\\": 1, \\\"inPortId\\\": \\\"INPUT\\\" },{ \\\"from\\\": -6, \\\"to\\\": -5, \\\"outPortId\\\": 2, \\\"inPortId\\\": \\\"INPUT\\\" },{ \\\"from\\\": -7, \\\"to\\\": -8, \\\"outPortId\\\": 2, \\\"inPortId\\\": \\\"INPUT\\\" },\\n      { \\\"from\\\": -7, \\\"to\\\": -9, \\\"outPortId\\\": 3, \\\"inPortId\\\": \\\"INPUT\\\" },\\n      { \\\"from\\\": -10, \\\"to\\\": -7, \\\"outPortId\\\": 1, \\\"inPortId\\\": \\\"INPUT\\\" },\\n    ],\\n    nodeDataArray: [\\n      { \\\"outputs\\\": 1, \\\"outputSuccess\\\": false, \\\"outputError\\\": false, \\\"faceImage\\\": \\\"2d7dc200-a06f-4af1-b559-f3bc9c163a7b\\\", \\\"input\\\": true, \\\"color\\\": \\\"#FFC300 \\\", \\\"color2\\\": \\\"red\\\", \\\"type\\\": \\\"network\\\", \\\"formSettings\\\": \\\"59d69780-65c8-4ba3-ba3a-f91c25e4f96d\\\", \\\"formWizzard\\\": null, \\\"name\\\": \\\"http request\\\", \\\"key\\\": -1, \\\"loc\\\": \\\"0 80\\\" },\\n      { \\\"outputs\\\": 0, \\\"outputSuccess\\\": false, \\\"outputError\\\": false, \\\"faceImage\\\": null, \\\"input\\\": true, \\\"color\\\": \\\"#273f8a\\\", \\\"color2\\\": \\\"red\\\", \\\"type\\\": \\\"common\\\", \\\"formSettings\\\": \\\"4554b140-b389-4c85-b3b8-68f00005b332\\\", \\\"formWizzard\\\": null, \\\"name\\\": \\\"debug\\\", \\\"key\\\": -3, \\\"loc\\\": \\\"252 560\\\" },\\n      { \\\"outputs\\\": 0, \\\"outputSuccess\\\": false, \\\"outputError\\\": false, \\\"faceImage\\\": null, \\\"input\\\": true, \\\"color\\\": \\\"#273f8a\\\", \\\"color2\\\": \\\"red\\\", \\\"type\\\": \\\"common\\\", \\\"formSettings\\\": \\\"4554b140-b389-4c85-b3b8-68f00005b332\\\", \\\"formWizzard\\\": null, \\\"name\\\": \\\"debug\\\", \\\"key\\\": -4, \\\"loc\\\": \\\"252 140\\\" },\\n      { \\\"outputs\\\": 0, \\\"outputSuccess\\\": false, \\\"outputError\\\": false, \\\"faceImage\\\": null, \\\"input\\\": true, \\\"color\\\": \\\"#273f8a\\\", \\\"color2\\\": \\\"red\\\", \\\"type\\\": \\\"common\\\", \\\"formSettings\\\": \\\"4554b140-b389-4c85-b3b8-68f00005b332\\\", \\\"formWizzard\\\": null, \\\"name\\\": \\\"debug\\\", \\\"key\\\": -5, \\\"loc\\\": \\\"252 0\\\" },\\n      { \\\"outputs\\\": 3, \\\"outputSuccess\\\": false, \\\"outputError\\\": false, \\\"faceImage\\\": null, \\\"input\\\": false, \\\"color\\\": \\\"#93f916\\\", \\\"color2\\\": \\\"red\\\", \\\"type\\\": \\\"RxJS\\\", \\\"formSettings\\\": \\\"eaf74626-5f8a-4867-bfc2-f0e691abf3cd\\\", \\\"formWizzard\\\": null, \\\"name\\\": \\\"rx subscriber\\\", \\\"key\\\": -6, \\\"loc\\\": \\\"126 66.5\\\" },\\n      { \\\"outputs\\\": 3, \\\"outputSuccess\\\": false, \\\"outputError\\\": false, \\\"faceImage\\\": null, \\\"input\\\": false, \\\"color\\\": \\\"#93f916\\\", \\\"color2\\\": \\\"red\\\", \\\"type\\\": \\\"RxJS\\\", \\\"formSettings\\\": \\\"eaf74626-5f8a-4867-bfc2-f0e691abf3cd\\\", \\\"formWizzard\\\": null, \\\"name\\\": \\\"rx subscriber\\\", \\\"key\\\": -7, \\\"loc\\\": \\\"126 346.5\\\" },\\n      { \\\"outputs\\\": 0, \\\"outputSuccess\\\": false, \\\"outputError\\\": false, \\\"faceImage\\\": null, \\\"input\\\": true, \\\"color\\\": \\\"#273f8a\\\", \\\"color2\\\": \\\"red\\\", \\\"type\\\": \\\"common\\\", \\\"formSettings\\\": \\\"4554b140-b389-4c85-b3b8-68f00005b332\\\", \\\"formWizzard\\\": null, \\\"name\\\": \\\"debug\\\", \\\"key\\\": -8, \\\"loc\\\": \\\"252 280\\\" },\\n      { \\\"outputs\\\": 0, \\\"outputSuccess\\\": false, \\\"outputError\\\": false, \\\"faceImage\\\": null, \\\"input\\\": true, \\\"color\\\": \\\"#273f8a\\\", \\\"color2\\\": \\\"red\\\", \\\"type\\\": \\\"common\\\", \\\"formSettings\\\": \\\"4554b140-b389-4c85-b3b8-68f00005b332\\\", \\\"formWizzard\\\": null, \\\"name\\\": \\\"debug\\\", \\\"key\\\": -9, \\\"loc\\\": \\\"252 420\\\" },\\n      { \\\"outputs\\\": 1, \\\"outputSuccess\\\": false, \\\"outputError\\\": false, \\\"faceImage\\\": \\\"2d7dc200-a06f-4af1-b559-f3bc9c163a7b\\\", \\\"input\\\": true, \\\"color\\\": \\\"#FFC300 \\\", \\\"color2\\\": \\\"red\\\", \\\"type\\\": \\\"network\\\", \\\"formSettings\\\": \\\"59d69780-65c8-4ba3-ba3a-f91c25e4f96d\\\", \\\"formWizzard\\\": null, \\\"name\\\": \\\"http request\\\", \\\"key\\\": -10, \\\"loc\\\": \\\"0 3360\\\" },\\n    ]\\n  }\",\n      \"fieldType\":\"msg\"\n   },\n   {\n      \"id\":\"dc89d56c.4f4ff8\",\n      \"wires\":[\n         [\n            \"1f790ad6.0744f5\",\n            \"21715b0f.fd5794\"\n         ]\n      ],\n      \"outputs\":1,\n      \"type\":\"function\",\n      \"x\":393,\n      \"y\":42,\n      \"z\":\"6f9eef4f.2aa0e\",\n      \"outputSuccess\":false,\n      \"outputError\":false,\n      \"func\":\"format go js \"\n   }\n]",
    "format": "handlebars",
    "output": "str",
    "addToPrint": "false"
  },
  {
    "id": "83495635.b9b718",
    "wires": [
      [
        "c3c5739a.28e7d",
        "8f33f3be.8ef7"
      ]
    ],
    "outputs": 1,
    "type": "function",
    "x": 420,
    "y": 60,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false,
    "func": "let inputDataArr = window.flowJson[0].json;\n\nconsole.log(\"QQQ\"  , inputDataArr );\n\n let linkDataArrayTemp = [];\n    let nodeDataArrayTemp = [];\nconsole.log(\"QQQ0\"  , inputDataArr );\n    inputDataArr.forEach((inputElem) => {\n      console.log(\"QQQ000\"  , inputDataArr );\n      if (inputElem.type != \"flowboard\") {\n        let objDataArray = {\n          outputs: inputElem.outputs,\n          outputSuccess: inputElem.outputSuccess,\n          outputError: inputElem.outputError,\n           input: true,\n           color: \"red\",\n          type: inputElem.type,\n          \n          name: inputElem['name'] || inputElem.type,\n          key: inputElem.id,\n          z: inputElem.z\n          // loc: \n        };\n        nodeDataArrayTemp.push(objDataArray);\n      }\n\n      else {\n        let objDataFlowboard = {\n          \"key\": inputElem.id,\n          \"type\": inputElem.type,\n          \"label\": inputElem.label,\n          \n          \"disabled\": inputElem.disabled,\n          \"name\" : inputElem.type,\n          \n        }\n        \n       // nodeDataArrayTemp.push(objDataFlowboard);\n        //TODO add flowboard to nodeDataArray\n      }\n      \n      console.log(\"QQQ1\"  , inputDataArr );\n\n      if (inputElem.wires) {\n        inputElem.wires.forEach((wirePortArr, index) => {\n          wirePortArr.forEach((wirePortItem) => {\n            let objLinkDataArr = {\n              from: inputElem.id,\n              to: wirePortItem,\n              outPortId: index + 1,\n              inPortId: \"INPUT\"\n            };\n\n            linkDataArrayTemp.push(objLinkDataArr);\n          })\n        })\n      }\n    })\n\n\nconsole.log(\"QQQ1_1\"  , inputDataArr );\n\n\n    let payload = {\n      \"class\": \"go.GraphLinksModel\",\n      \"nodeCategoryProperty\": \"type\",\n      \"linkFromPortIdProperty\": \"outPortId\",\n      \"linkToPortIdProperty\": \"inPortId\",\n      \"linkDataArray\": [...linkDataArrayTemp],\n      \"nodeDataArray\": [...nodeDataArrayTemp]\n    }\n    \n    console.log(\"FUNC_PAYLOAD\"  , payload );\n\n\nmsg['payload'] = payload;\n    return msg;\n\n\n\n\n\n",
    "name": "fromLuwfyToGoJS"
  },
  {
    "id": "dac8e93.695e418",
    "wires": [],
    "outputs": 0,
    "type": "debug",
    "x": 1060,
    "y": 480,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false,
    "active": true
  },
  {
    "id": "e9b38422.32cbc8",
    "wires": [],
    "outputs": 0,
    "type": "debug",
    "x": 740,
    "y": 480,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false,
    "active": true
  },
  {
    "id": "ae21be82.41976",
    "wires": [
      [
        "c5f54bec.116db8"
      ],
      [
        "c5f54bec.116db8"
      ]
    ],
    "outputs": 2,
    "type": "template",
    "x": 700,
    "y": 380,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": true,
    "template": "{\n   \"class\":\"go.GraphLinksModel\",\n   \"nodeCategoryProperty\":\"type\",\n   \"linkFromPortIdProperty\":\"outPortId\",\n   \"linkToPortIdProperty\":\"inPortId\",\n   \"nodeDataArray\":[\n      {\n         \"outputs\":1,\n         \"outputSuccess\":false,\n         \"outputError\":false,\n         \"faceImage\":\"2d7dc200-a06f-4af1-b559-f3bc9c163a7b\",\n         \"input\":true,\n         \"color\":\"#FFC300 \",\n         \"color2\":\"red\",\n         \"type\":\"network\",\n         \"formSettings\":\"59d69780-65c8-4ba3-ba3a-f91c25e4f96d\",\n         \"formWizzard\":null,\n         \"name\":\"http request\",\n         \"key\":-1,\n         \"loc\":\"0 80\"\n      },\n         {\n         \"outputs\":1,\n         \"outputSuccess\":false,\n         \"outputError\":false,\n         \"faceImage\":\"2d7dc200-a06f-4af1-b559-f3bc9c163a7b\",\n         \"input\":true,\n         \"color\":\"#FFC300 \",\n         \"color2\":\"red\",\n         \"type\":\"network\",\n         \"formSettings\":\"59d69780-65c8-4ba3-ba3a-f91c25e4f96d\",\n         \"formWizzard\":null,\n         \"name\":\"http request\",\n         \"key\":-2,\n         \"loc\":\"0 80\"\n      }\n\n   ],\n   \"linkDataArray\":[\n      {\n         \"from\":-1,\n         \"to\":-6,\n         \"outPortId\":1,\n         \"inPortId\":\"INPUT\"\n      }\n   ]\n}",
    "order": "1",
    "format": "handlebars",
    "output": "json",
    "outputType": "msg",
    "outputProp": "payload",
    "name": "goJsDataExample"
  },
  {
    "id": "c3c5739a.28e7d",
    "wires": [],
    "outputs": 0,
    "type": "debug",
    "x": 480,
    "y": 180,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false,
    "active": true
  },
  {
    "id": "c32a0ca5.f42b8",
    "wires": [
      [],
      []
    ],
    "outputs": 2,
    "type": "template",
    "x": 240,
    "y": 40,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": true,
    "output": "json",
    "template": "[\n  {\n    \"id\": \"3d577254.b3c3ae\",\n    \"outputs\": 1,\n    \"type\": \"view in\",\n    \"x\": 80,\n    \"y\": 40,\n    \"z\": \"d4ec89ff.2cfac8\",\n    \"wires\": [\n      []\n    ],\n    \"outputSuccess\": false,\n    \"outputError\": false,\n    \"url\": \"/main\"\n  },\n   {\n    \"id\": \"45783\",\n    \"outputs\": 1,\n    \"type\": \"view in\",\n    \"x\": 80,\n    \"y\": 40,\n    \"z\": \"d4ec89ff.2cfac8\",\n    \"wires\": [\n      []\n    ],\n    \"outputSuccess\": false,\n    \"outputError\": false,\n    \"url\": \"/main\"\n  }\n\n]",
    "outputType": "msg",
    "outputProp": "payload"
  },
  {
    "id": "a0b109fe.a882d8",
    "wires": [
      [
        "fa431231.2f401",
        "83495635.b9b718"
      ]
    ],
    "outputs": 1,
    "type": "change",
    "x": 240,
    "y": 220,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false,
    "rules": [
      {
        "p": "blocks",
        "t": "set",
        "pt": "window",
        "to": "httppayload",
        "tot": "msg"
      },
      {
        "p": "flowJson",
        "t": "set",
        "pt": "window",
        "to": "flowPayload",
        "tot": "msg"
      },
      {
        "p": "webSocket",
        "t": "set",
        "pt": "window",
        "to": "flowPayload",
        "tot": "msg"
      }
    ]
  },
  {
    "id": "5e346448.7d429c",
    "wires": [
      [
        "c25b4016.b50a2",
        "b085f90.f01c608"
      ]
    ],
    "outputs": 1,
    "type": "view in",
    "x": 1160,
    "y": 40,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false,
    "url": "/denys"
  },
  {
    "id": "c25b4016.b50a2",
    "wires": [
      [
        "4291db8d.2c0c54",
        "d475125b.5d718"
      ],
      []
    ],
    "outputs": 2,
    "type": "template",
    "x": 1320,
    "y": 40,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": true,
    "output": "json",
    "template": "[\n  {\n    \"id\": \"3d577254.b3c3ae\",\n    \"outputs\": 1,\n    \"type\": \"view in\",\n    \"x\": 80,\n    \"y\": 40,\n    \"z\": \"d4ec89ff.2cfac8\",\n    \"wires\": [\n      []\n    ],\n    \"outputSuccess\": false,\n    \"outputError\": false,\n    \"url\": \"/denys\"\n  }\n\n]",
    "outputType": "msg",
    "outputProp": "payload",
    "format": "handlebars",
    "addToPrint": "false",
    "order": "1"
  },
  {
    "id": "271be9e.7fc5f16",
    "wires": [
      [
        "522a340d.fb950c"
      ]
    ],
    "outputs": 1,
    "type": "component",
    "x": 1460,
    "y": 40,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false,
    "componentName": "goJsProject",
    "order": "1",
    "componentConfig": "payload"
  },
  {
    "id": "522a340d.fb950c",
    "wires": [],
    "outputs": 0,
    "type": "view print",
    "x": 1600,
    "y": 20,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false
  },
  {
    "id": "4291db8d.2c0c54",
    "wires": [
      [
        "271be9e.7fc5f16",
        "c5a92907.420ac8"
      ]
    ],
    "outputs": 1,
    "type": "function",
    "x": 1440,
    "y": 160,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false,
    "func": "let inputDataArr = msg['payload'];\n\nconsole.log(\"QQQ\"  , inputDataArr );\n\n let linkDataArrayTemp = [];\n    let nodeDataArrayTemp = [];\nconsole.log(\"QQQ0\"  , inputDataArr );\n    inputDataArr.forEach((inputElem) => {\n      console.log(\"QQQ000\"  , inputDataArr );\n      if (inputElem.type != \"flowboard\") {\n        let objDataArray = {\n          outputs: inputElem.outputs,\n          outputSuccess: inputElem.outputSuccess,\n          outputError: inputElem.outputError,\n          // input:\n          // color:\n          type: inputElem.type,\n          name: inputElem['name'] || inputElem.type,\n          key: inputElem.id,\n          z: inputElem.z\n          // loc: \n        };\n        nodeDataArrayTemp.push(objDataArray);\n      }\n\n      else {\n        let objDataFlowboard = {\n          \"key\": inputElem.id,\n          \"type\": inputElem.type,\n          \"label\": inputElem.label,\n          \"disabled\": inputElem.disabled,\n        }\n        \n        nodeDataArrayTemp.push(objDataFlowboard);\n        //TODO add flowboard to nodeDataArray\n      }\n      \n      console.log(\"QQQ1\"  , inputDataArr );\n\n      if (inputElem.wires) {\n        inputElem.wires.forEach((wirePortArr, index) => {\n          wirePortArr.forEach((wirePortItem) => {\n            let objLinkDataArr = {\n              from: inputElem.id,\n              to: wirePortItem,\n              outPortId: index + 1,\n              inPortId: \"INPUT\"\n            };\n\n            linkDataArrayTemp.push(objLinkDataArr);\n          })\n        })\n      }\n    })\n\n\nconsole.log(\"QQQ1_1\"  , inputDataArr );\n\n\n    let payload = {\n      \"class\": \"go.GraphLinksModel\",\n      \"nodeCategoryProperty\": \"type\",\n      \"linkFromPortIdProperty\": \"outPortId\",\n      \"linkToPortIdProperty\": \"inPortId\",\n      \"linkDataArray\": [...linkDataArrayTemp],\n      \"nodeDataArray\": [...nodeDataArrayTemp]\n    }\n    \n    console.log(\"QQQ2\"  , inputDataArr );\n\n\nmsg['payload'] = payload;\n    return msg;\n\n\n\n\n\n"
  },
  {
    "id": "c5a92907.420ac8",
    "wires": [],
    "outputs": 0,
    "type": "debug",
    "x": 1620,
    "y": 160,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false,
    "active": true,
    "payloadType": "complete object"
  },
  {
    "id": "d475125b.5d718",
    "wires": [],
    "outputs": 0,
    "type": "debug",
    "x": 1460,
    "y": 280,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false,
    "active": true,
    "payloadType": "complete object"
  },
  {
    "id": "b085f90.f01c608",
    "wires": [],
    "outputs": 0,
    "type": "debug",
    "x": 1280,
    "y": 160,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false,
    "active": true,
    "payloadType": "complete object"
  },
  {
    "id": "2a4680aa.68ca5",
    "wires": [],
    "outputs": 0,
    "type": "debug",
    "x": 660,
    "y": 200,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false,
    "active": true,
    "payloadType": "complete object"
  },
  {
    "id": "d36a1641.6c8528",
    "wires": [
      [],
      []
    ],
    "outputs": 2,
    "type": "template",
    "x": 815,
    "y": 885,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": true,
    "template": "{\n   \"class\":\"go.GraphLinksModel\",\n   \"nodeCategoryProperty\":\"type\",\n   \"linkFromPortIdProperty\":\"outPortId\",\n   \"linkToPortIdProperty\":\"inPortId\",\n   \"nodeDataArray\":[\n      {\n         \"outputs\":1,\n         \"outputSuccess\":false,\n         \"outputError\":false,\n         \"faceImage\":\"2d7dc200-a06f-4af1-b559-f3bc9c163a7b\",\n         \"input\":true,\n         \"color\":\"#FFC300 \",\n         \"color2\":\"red\",\n         \"type\":\"network\",\n         \"formSettings\":\"59d69780-65c8-4ba3-ba3a-f91c25e4f96d\",\n         \"formWizzard\":null,\n         \"name\":\"http request\",\n         \"key\":-1,\n         \"loc\":\"0 80\"\n      },\n         {\n         \"outputs\":1,\n         \"outputSuccess\":false,\n         \"outputError\":false,\n         \"faceImage\":\"2d7dc200-a06f-4af1-b559-f3bc9c163a7b\",\n         \"input\":true,\n         \"color\":\"#FFC300 \",\n         \"color2\":\"red\",\n         \"type\":\"network\",\n         \"formSettings\":\"59d69780-65c8-4ba3-ba3a-f91c25e4f96d\",\n         \"formWizzard\":null,\n         \"name\":\"http request\",\n         \"key\":-2,\n         \"loc\":\"0 80\"\n      },\n         {\n         \"outputs\":1,\n         \"outputSuccess\":false,\n         \"outputError\":false,\n         \"faceImage\":\"2d7dc200-a06f-4af1-b559-f3bc9c163a7b\",\n         \"input\":true,\n         \"color\":\"#FFC300 \",\n         \"color2\":\"red\",\n         \"type\":\"network\",\n         \"formSettings\":\"59d69780-65c8-4ba3-ba3a-f91c25e4f96d\",\n         \"formWizzard\":null,\n         \"name\":\"http request\",\n         \"key\":-3,\n         \"loc\":\"0 80\"\n      }\n\n   ],\n   \"linkDataArray\":[\n      {\n         \"from\":-1,\n         \"to\":-6,\n         \"outPortId\":1,\n         \"inPortId\":\"INPUT\"\n      }\n   ]\n}",
    "outputType": "msg",
    "outputProp": "payload"
  },
  {
    "id": "c5f54bec.116db8",
    "wires": [],
    "outputs": 0,
    "type": "debug",
    "x": 860,
    "y": 380,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false,
    "active": true,
    "payloadType": "complete object"
  },
  {
    "id": "c1aca304.830b4",
    "wires": [
      [
        "636533fd.eaea9c"
      ]
    ],
    "outputs": 1,
    "type": "http request",
    "x": 59,
    "y": 329,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false,
    "url": "https://sandboxcrm.luwfy.com/luwfy-flow/lwapp/a7b2842e-7cba-4201-a595-75bd6b650e90",
    "auth": false,
    "proxy": false,
    "method": "GET",
    "output": "flowPayload",
    "secure": false,
    "urlType": "string",
    "keepalive": false,
    "outputType": "msg",
    "querystring": false
  },
  {
    "id": "fa431231.2f401",
    "wires": [],
    "outputs": 0,
    "type": "debug",
    "x": 560,
    "y": 300,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false,
    "active": true
  },
  {
    "id": "636533fd.eaea9c",
    "wires": [
      [
        "78197e86.29e13",
        "a0b109fe.a882d8"
      ]
    ],
    "outputs": 1,
    "type": "function",
    "x": 264,
    "y": 339,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false,
    "func": "\nlet a = JSON.parse( msg['flowPayload']);\nmsg['flowPayload'] =  a.Flowjson;\nreturn msg\n\n\n\n\n"
  },
  {
    "id": "78197e86.29e13",
    "wires": [],
    "outputs": 0,
    "type": "debug",
    "x": 418,
    "y": 336,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false,
    "active": true
  },
  {
    "id": "13df0948.050df7",
    "wires": [],
    "outputs": 0,
    "type": "rx observer",
    "x": 920,
    "y": 560,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false,
    "event": "goJsCanvasObservable",
    "appendOperators": false,
    "appendCombine": false,
    "name": "CANVAS_OBSERVABLE",
    "d": true
  },
  {
    "id": "334ca1.570e336",
    "wires": [
      [
        "ab91a76d.172288",
        "1fe3c09a.3a55cf",
        "a16ee931.febe38"
      ],
      [],
      []
    ],
    "outputs": 3,
    "type": "rx subscriber",
    "x": 1300,
    "y": 700,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false,
    "useWindow": false,
    "customEvent": false,
    "event": "goJsCanvasObservable",
    "auto_subscribe": false,
    "bundle": false
  },
  {
    "id": "ab91a76d.172288",
    "wires": [
      [
        "4d6c57d7.e6bfc8"
      ]
    ],
    "outputs": 1,
    "type": "function",
    "x": 1480,
    "y": 660,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false,
    "func": "\n    let inputDataArr = [...msg.model.nodeDataArray];\n    let linktDataArr = [...msg.model.linkDataArray];\n    let flowArr = [];\n    inputDataArr.forEach((modelElem) => {\n      let wiresArr = [];\n      for (let i = 0; i < (modelElem.outputs + +modelElem.outputSuccess + +modelElem.outputError); i++) {\n        wiresArr.push([]);\n      }\n      let filteredLinkArr = linktDataArr.filter((link) => link.from == modelElem.key);\n      filteredLinkArr.forEach(linkElem => {\n        wiresArr[linkElem.outPortId - 1].push(linkElem.to);\n      })\n\n      let block = {\n        id: modelElem.key,\n        outputs: modelElem.outputs,\n        outputSuccess: modelElem.outputSuccess,\n        outputError: modelElem.outputError,\n        z: modelElem.z,\n        type: modelElem.type,\n        wires: wiresArr\n      };\n\n      flowArr.push(block);\n    })\n\n msg['payload'] = flowArr;\n\n//window.flowJson[0].json = msg['payload'];\n    return msg;",
    "name": "FromGoJsToLuwfy"
  },
  {
    "id": "d27fbada.a4c538",
    "wires": [
      []
    ],
    "outputs": 1,
    "type": "change",
    "x": 1180,
    "y": 600,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false
  },
  {
    "id": "1fe3c09a.3a55cf",
    "wires": [],
    "outputs": 0,
    "type": "debug",
    "x": 1640,
    "y": 760,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false,
    "active": true
  },
  {
    "id": "e86086dd.584168",
    "wires": [],
    "outputs": 0,
    "type": "debug",
    "x": 1760,
    "y": 500,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false,
    "active": true
  },
  {
    "id": "4d6c57d7.e6bfc8",
    "wires": [
      [
        "e86086dd.584168"
      ]
    ],
    "outputs": 1,
    "type": "change",
    "x": 1660,
    "y": 640,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false,
    "rules": [
      {
        "p": "flowJson[0].json",
        "t": "set",
        "pt": "window",
        "to": "payload",
        "tot": "msg"
      }
    ]
  },
  {
    "id": "26415ba.9799fa4",
    "wires": [
      [
        "ba52e49e.7ca178",
        "18fdf4f3.eb925b"
      ]
    ],
    "outputs": 1,
    "type": "Websocket in",
    "x": 1240,
    "y": 460,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false,
    "path": "wss://sandboxcrm.luwfy.com/ws/update-app",
    "client": true,
    "browser": true
  },
  {
    "id": "a16ee931.febe38",
    "wires": [],
    "outputs": 0,
    "type": "Websocket out",
    "x": 1460,
    "y": 820,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false,
    "path": "wss://sandboxcrm.luwfy.com/ws/test-websocket",
    "client": true,
    "browser": true
  },
  {
    "id": "ba52e49e.7ca178",
    "wires": [],
    "outputs": 0,
    "type": "debug",
    "x": 1400,
    "y": 460,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false,
    "active": true,
    "payloadType": "complete object"
  },
  {
    "id": "9af7378e.e55f18",
    "wires": [
      [
        "454ba8db.5ff5e8"
      ],
      []
    ],
    "outputs": 2,
    "type": "template",
    "x": 960,
    "y": 40,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": true,
    "name": "Debug",
    "template": "\n\n<p>DENIS</p>\n<p>WINDOW : {{payloadDenys.data.id}}</p>\n\n\n             \n             \n   \n             \n             \n\n\n\n",
    "addToPrint": "false",
    "format": "handlebars",
    "order": "1",
    "outputType": "msg",
    "outputProp": "debug"
  },
  {
    "id": "18fdf4f3.eb925b",
    "wires": [
      [
        "1bf8d872.0feb78",
        "bb8d97ad.61b9c8"
      ]
    ],
    "outputs": 1,
    "type": "function",
    "x": 1040,
    "y": 340,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false,
    "func": "\nlet value = JSON.parse(msg.payload.data);\nmsg['payloadDenys'] = value;\nreturn msg;"
  },
  {
    "id": "1bf8d872.0feb78",
    "wires": [],
    "outputs": 0,
    "type": "debug",
    "x": 1349,
    "y": 344,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false,
    "active": true,
    "payloadType": "complete object"
  },
  {
    "id": "ba11bb95.922b38",
    "wires": [
      [],
      []
    ],
    "outputs": 2,
    "type": "template",
    "x": 1160,
    "y": 160,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": true,
    "template": "<div rv-show=\"Luwfy.total | condition '>' 1000\">Hello World</div>\n<div> {msg.payloadDenys.data.id} </div>\n\n\n<lw-tree id=\"tree\" \n              show-lines\n              show-root-lines\n              toggle-element-position=\"near\">\n        <lw-tree-items-group rv-each-innerdata=\"Object.keys(payload.data)\" expanded>\n            <lw-tree-item>BLA: {innerdata} </lw-tree-item>\n        </lw-tree-items-group>\n    </lw-tree>\n\n\n",
    "addToPrint": "true",
    "format": "rivets",
    "order": "1",
    "output": "str"
  },
  {
    "id": "f39269eb.abff98",
    "wires": [
      [],
      []
    ],
    "outputs": 2,
    "type": "template",
    "x": 1560,
    "y": 460,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": true,
    "addToPrint": "true",
    "order": "1",
    "format": "rivets",
    "template": "\n<div rv-each-todo=\"msg.httppayload\">\nQQQQQQQQ {todo.name}\n  </div>\n\n<lw-tree id=\"lw-palette-tree\"\n        filterable\n              filter-input-placeholder=\"Filter query...\"\n              filter-mode=\"containsIgnoreCase\"\nevent-target-id=\"itemTree\">\n        <lw-tree-items-group expanded rv-each-payload=\"msg.httppayload\"> BBBBBb\n            <lw-tree-item rv-each-payloadinner='payload.Luwfyblock' >\n              <i class=\"material-icons\">&#xEB41;</i>AAAAA\n</lw-tree-item>\n\n        </lw-tree-items-group>\n    </lw-tree>",
    "name": "Rivets example"
  },
  {
    "id": "c5e30a07.a31ce8",
    "wires": [
      [],
      []
    ],
    "outputs": 2,
    "type": "template",
    "x": 1620,
    "y": 340,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": true,
    "addToPrint": "true",
    "order": "1",
    "format": "str",
    "output": "str",
    "template": "<div>Denis</div>\n<p>PPPPPPPPPPPPPPPPP</p>\n<lw-tree id=\"lw-palette-tree\"\n        filterable\n              filter-input-placeholder=\"Filter query...\"\n              filter-mode=\"containsIgnoreCase\"\nevent-target-id=\"itemTree\"\nid=\"tree\">\n  \n   {{#each httppayload}}\n        <lw-tree-items-group expanded> {{name}}\n          {{#each  Luwfyblock}}\n            <lw-tree-item  block-id={{id}}  category-id ={{blockcategory_id}} ><i   class=\"material-icons\">&#xEB41;</i>{{name}}</lw-tree-item>\n            {{/each}}\n        </lw-tree-items-group>\n          {{/each}}\n    </lw-tree>\n",
    "outputType": "msg",
    "outputProp": "payload"
  },
  {
    "id": "15bd6140.424aff",
    "wires": [
      [
        "7c4a8e40.81158"
      ],
      [],
      []
    ],
    "outputs": 3,
    "type": "rx subscriber",
    "x": 1112,
    "y": 1015.5803495672833,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false,
    "useWindow": true,
    "customEvent": false,
    "event-target-id": "btnTest",
    "auto_subscribe": false,
    "bundle": false,
    "event-name": "click"
  },
  {
    "id": "7c4a8e40.81158",
    "wires": [],
    "outputs": 0,
    "type": "debug",
    "x": 1332,
    "y": 1004.0535663781889,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false,
    "active": true,
    "payloadType": "complete object"
  },
  {
    "id": "bb8d97ad.61b9c8",
    "wires": [
      []
    ],
    "outputs": 1,
    "type": "change",
    "x": 1220,
    "y": 280,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false,
    "rules": [
      {
        "p": "webSocket",
        "t": "set",
        "pt": "window",
        "to": "payloadDenys",
        "tot": "msg"
      }
    ]
  },
  {
    "id": "454ba8db.5ff5e8",
    "wires": [
      [
        "21e409ec.51c286"
      ],
      []
    ],
    "outputs": 2,
    "type": "template",
    "x": 850,
    "y": 154,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": true,
    "template": "<div>\n  {{{pallet}}}\n  {{{debug}}}\n</div>\n  ",
    "addToPrint": "true",
    "order": "1",
    "outputType": "msg",
    "outputProp": "payload"
  },
  {
    "id": "93e18236.ec9b7",
    "wires": [
      [
        "ba8e64a7.903e98",
        "b3c90fda.66f9e"
      ]
    ],
    "outputs": 1,
    "type": "view in",
    "x": 40,
    "y": 1340,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false,
    "url": "/main3"
  },
  {
    "id": "d5540496.832378",
    "wires": [
      [
        "9e1909f9.a6e688"
      ],
      []
    ],
    "outputs": 2,
    "type": "template",
    "x": 760,
    "y": 1300,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": true,
    "format": "handlebars",
    "output": "str",
    "template": "   \n<p>QQQQQQQQQQQQQQQQQ</p>\n\n<lw-list-box id=\"lw-palette-tree\" event-target-id=\"flowboardslist\"> FLOWBOARDS LIST \n  {{#each  flowPayload}}\n  {{#if this.type \"==\" \"flowboard\" }}\n  <lw-list-item value={{this.id}}><a href=\"/workspace\">{{this.label}}</a> </lw-list-item>\n{{/if}}\n  {{/each}}\n </lw-list-box>\n",
    "name": "Flowboard List",
    "addToPrint": "true",
    "order": "1",
    "outputType": "msg",
    "outputProp": "payload"
  },
  {
    "id": "ba8e64a7.903e98",
    "outputs": 1,
    "type": "http request",
    "x": 200,
    "y": 1340,
    "z": "d4ec89ff.2cfac8",
    "wires": [
      [
        "58889ad9.2096e4",
        "ef9f4883.1197f8"
      ]
    ],
    "outputSuccess": false,
    "outputError": false,
    "url": "https://sandboxcrm.luwfy.com/luwfy-flow/lwapp/a7b2842e-7cba-4201-a595-75bd6b650e90",
    "auth": false,
    "proxy": false,
    "method": "GET",
    "output": "flowPayload",
    "secure": false,
    "urlType": "string",
    "keepalive": false,
    "outputType": "msg",
    "querystring": false
  },
  {
    "id": "58889ad9.2096e4",
    "wires": [
      [
        "4569ae1f.0dca3",
        "3b70a732.82f968"
      ]
    ],
    "outputs": 1,
    "type": "function",
    "x": 400,
    "y": 1340,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false,
    "func": "let a = JSON.parse( msg['flowPayload']);\nconsole.log(\"AAAAATEST\" , a);\nmsg['flowPayload'] =  a.Flowjson[0].json;\nreturn msg",
    "name": "parse to object"
  },
  {
    "id": "4569ae1f.0dca3",
    "wires": [],
    "outputs": 0,
    "type": "debug",
    "x": 400,
    "y": 1620,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false,
    "active": true,
    "payloadType": "complete object"
  },
  {
    "id": "8a56ac63.8d6b6",
    "wires": [],
    "outputs": 0,
    "type": "view print",
    "x": 1180,
    "y": 1280,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false
  },
  {
    "id": "ef9f4883.1197f8",
    "wires": [],
    "outputs": 0,
    "type": "debug",
    "x": 200,
    "y": 1560,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false,
    "active": true,
    "payloadType": "complete object"
  },
  {
    "id": "b3c90fda.66f9e",
    "wires": [],
    "outputs": 0,
    "type": "debug",
    "x": 47,
    "y": 1523.633915945472,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false,
    "active": true,
    "payloadType": "complete object"
  },
  {
    "id": "5c2905f4.bdecfc",
    "type": "flowboard",
    "label": "Flowboard 2",
    "disabled": false,
    "location": {
      "x": 489.59557258407835,
      "y": 40
    },
    "width": 400,
    "height": 400
  },
  {
    "id": "6e7bc413.17b34c",
    "wires": [
      []
    ],
    "outputs": 1,
    "type": "change",
    "x": 284,
    "y": 126,
    "z": "5c2905f4.bdecfc",
    "outputSuccess": false,
    "outputError": false
  },
  {
    "id": "16708f1b.13be21",
    "wires": [
      [],
      []
    ],
    "outputs": 2,
    "type": "template",
    "x": 462,
    "y": 365,
    "z": "5c2905f4.bdecfc",
    "outputSuccess": false,
    "outputError": true
  },
  {
    "id": "7cb3eafb.c5a5a4",
    "wires": [
      []
    ],
    "outputs": 1,
    "type": "debug settings",
    "x": 803,
    "y": 255,
    "z": "5c2905f4.bdecfc",
    "outputSuccess": false,
    "outputError": false
  },
  {
    "id": "d8023bb9.89f028",
    "outputs": 3,
    "type": "rx subscriber",
    "x": 640,
    "y": 1460,
    "z": "d4ec89ff.2cfac8",
    "wires": [
      [
        "15c21167.6b910f",
        "dc6da03f.2e69c"
      ],
      [],
      []
    ],
    "useWindow": true,
    "customEvent": false,
    "event-target-id": "flowboardslist",
    "event-name": "change",
    "auto_subscribe": false,
    "bundle": false,
    "event": "Luwfy.dom['flowboardslist'].events['change']"
  },
  {
    "id": "15c21167.6b910f",
    "wires": [],
    "outputs": 0,
    "type": "debug",
    "x": 880,
    "y": 1460,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false,
    "active": true,
    "payloadType": "complete object"
  },
  {
    "id": "dc6da03f.2e69c",
    "wires": [
      [
        "7eddaf11.846d5",
        "cce04e9d.99eb6"
      ]
    ],
    "outputs": 1,
    "type": "function",
    "x": 880,
    "y": 1580,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false,
    "func": "\nlet currentFlowboardId =  msg.detail.value;\nconsole.log(\"MSG_DEBUG\" ,window.flows , currentFlowboardId);\nlet currentFlow = [];\n\n\nwindow.flows.forEach((block)=>{\n  if(block.z == currentFlowboardId )\n    {\n      currentFlow.push(block);\n    }\n});\n\n\nmsg['currentFlow'] = currentFlow;\nreturn msg;\n\n\n\n\n"
  },
  {
    "id": "3b70a732.82f968",
    "wires": [
      [
        "d5540496.832378"
      ]
    ],
    "outputs": 1,
    "type": "change",
    "x": 600,
    "y": 1320,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false,
    "rules": [
      {
        "p": "flows",
        "t": "set",
        "pt": "window",
        "to": "flowPayload",
        "tot": "msg"
      }
    ]
  },
  {
    "id": "7eddaf11.846d5",
    "wires": [
      [
        "cc17f802.47bc38"
      ]
    ],
    "outputs": 1,
    "type": "function",
    "x": 1060,
    "y": 1520,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false,
    "func": "let inputDataArr = msg['currentFlow'];\n\n let linkDataArrayTemp = [];\n    let nodeDataArrayTemp = [];\nconsole.log(\"QQQ0\"  , inputDataArr );\n    inputDataArr.forEach((inputElem) => {\n      console.log(\"QQQ000\"  , inputDataArr );\n      if (inputElem.type != \"flowboard\") {\n        let objDataArray = {\n          outputs: inputElem.outputs,\n          outputSuccess: inputElem.outputSuccess,\n          outputError: inputElem.outputError,\n           input: true,\n           color: \"red\",\n          type: inputElem.type,\n          \n          name: inputElem['name'] || inputElem.type,\n          key: inputElem.id,\n          z: inputElem.z\n          // loc: \n        };\n        nodeDataArrayTemp.push(objDataArray);\n      }\n\n      else {\n        let objDataFlowboard = {\n          \"key\": inputElem.id,\n          \"type\": inputElem.type,\n          \"label\": inputElem.label,\n          \n          \"disabled\": inputElem.disabled,\n          \"name\" : inputElem.type,\n          \n        }\n        \n       // nodeDataArrayTemp.push(objDataFlowboard);\n        //TODO add flowboard to nodeDataArray\n      }\n      \n      console.log(\"QQQ1\"  , inputDataArr );\n\n      if (inputElem.wires) {\n        inputElem.wires.forEach((wirePortArr, index) => {\n          wirePortArr.forEach((wirePortItem) => {\n            let objLinkDataArr = {\n              from: inputElem.id,\n              to: wirePortItem,\n              outPortId: index + 1,\n              inPortId: \"INPUT\"\n            };\n\n            linkDataArrayTemp.push(objLinkDataArr);\n          })\n        })\n      }\n    })\n\n\nconsole.log(\"QQQ1_1\"  , inputDataArr );\n\n\n    let payload = {\n      \"class\": \"go.GraphLinksModel\",\n      \"nodeCategoryProperty\": \"type\",\n      \"linkFromPortIdProperty\": \"outPortId\",\n      \"linkToPortIdProperty\": \"inPortId\",\n      \"linkDataArray\": [...linkDataArrayTemp],\n      \"nodeDataArray\": [...nodeDataArrayTemp]\n    }\n    \n    console.log(\"FUNC_PAYLOAD\"  , payload );\n\n\nmsg['payload'] = payload;\n\n\nwindow.CANVAS.model = {...payload};\nwindow.CANVAS.load();\n\n\n\n    return msg;\n\n\n\n\n\n"
  },
  {
    "id": "cce04e9d.99eb6",
    "wires": [],
    "outputs": 0,
    "type": "debug",
    "x": 920,
    "y": 1760,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false,
    "active": true,
    "payloadType": "complete object"
  },
  {
    "id": "cc17f802.47bc38",
    "wires": [],
    "outputs": 0,
    "type": "debug",
    "x": 1080,
    "y": 1660,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false,
    "active": true,
    "payloadType": "complete object"
  },
  {
    "id": "9e1909f9.a6e688",
    "outputs": 1,
    "type": "component",
    "x": 940,
    "y": 1300,
    "z": "d4ec89ff.2cfac8",
    "wires": [
      [
        "8a56ac63.8d6b6"
      ]
    ],
    "outputSuccess": false,
    "outputError": false,
    "componentName": "goJsProject",
    "order": "3",
    "componentConfig": "payload"
  },
  {
    "id": "1d21e043.13a03",
    "wires": [
      [
        "5686f051.9e55d"
      ]
    ],
    "outputs": 1,
    "type": "view in",
    "x": 22,
    "y": 1734.5319497354294,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false,
    "url": "/workspace"
  },
  {
    "id": "5686f051.9e55d",
    "outputs": 1,
    "type": "component",
    "x": 180,
    "y": 1780,
    "z": "d4ec89ff.2cfac8",
    "wires": [
      [
        "36c1a06f.d4018"
      ]
    ],
    "outputSuccess": false,
    "outputError": false,
    "componentName": "goJsProject",
    "order": "1",
    "componentConfig": "payload"
  },
  {
    "id": "4cbcd89a.1c4bd8",
    "outputs": 1,
    "type": "component",
    "x": 1117.957076593339,
    "y": 414.27737788635545,
    "z": "d4ec89ff.2cfac8",
    "wires": [
      []
    ],
    "outputSuccess": false,
    "outputError": false,
    "componentName": "goJsProject",
    "order": "3",
    "componentConfig": "payload"
  },
  {
    "id": "36c1a06f.d4018",
    "wires": [
      [
        "d58b0219.4d1ef"
      ],
      []
    ],
    "outputs": 2,
    "type": "template",
    "x": 335,
    "y": 1783.2194686820849,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": true,
    "addToPrint": "true",
    "order": "2",
    "format": "str",
    "output": "str",
    "template": "WORKSPACE"
  },
  {
    "id": "d58b0219.4d1ef",
    "wires": [],
    "outputs": 0,
    "type": "view print",
    "x": 470,
    "y": 1742.2194686820849,
    "z": "d4ec89ff.2cfac8",
    "outputSuccess": false,
    "outputError": false
  }
]